<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div class='main-content'>
        {{>header}}
        <p>This site was created by Rafael Winter. It uses data from 'weatherstack' and 'mapbox' </p>
        <p>I am a Robot.</p><p>Sorry to disappoint you.</p>
        <img class='portrait' src="../img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>