<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        {{>header}}
        <h1>Ops! Page not found</h1>
        <p>{{ message }}</p>>
        {{>footer}}
    </body>
</html>